.wrapper {
  display: grid;
  grid-template-rows: 150px 200px 200px;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  grid-gap: 10px;
  grid-template-areas: "header header header header" 
                       "box1 box2 box3 sidebar"
                       "box4 box5 box6 sidebar";
}

header {
  background-color: yellow;
  grid-area: header;
}

aside {
  background-color: pink;
  grid-area: sidebar;
}

.box1 {
  background-color: blue;
  grid-area: box1;
}

.box2 {
  background-color: fuchsia;
  grid-area: box2;
}

.box3 {
  background-color: grey;
  grid-area: box3;
}

.box4 {
  background-color: palegreen;
  grid-area: box4;
}

.box5 {
  background-color: rgb(5, 168, 100);
  grid-area: box5;
}

.box6 {
  background-color: rgb(170, 52, 81);
  grid-area: box6;
}

@media screen and (max-width: 800px) {
  .wrapper {
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas: "header header header" 
                        "box1 box2 box3"
                        "box4 box5 box6"
                        "sidebar sidebar sidebar";
  }
}

@media screen and (max-width: 400px) {
  .wrapper {
    grid-template-rows: 100px repeat(6, 150px) 100px;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-template-areas: "header" 
                        "box1"
                        "box2" 
                        "box3"
                        "box4" 
                        "box5" 
                        "box6"
                        "sidebar";
  }
}

/*
break points

https://stackoverflow.com/questions/6370690/media-queries-how-to-target-desktop-tablet-and-mobile
*/
